{% extends "base.html" %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome</h1>
    <p>
        Simple site to create and practice English-Dutch phrases using flashcards. <br>
        Created using the 'Flask: Getting started' tutorial on PluralSight. <br>
        Click on a flashcard below to start, or create a new card by clicking the 'Add a new card' button at the bottom.
    </p>
    <h2>Flashcards</h2>
    <ul>
        {% for card in cards %}
        <li>
            <a href="{{ url_for('card_view', index=loop.index0) }}">
                {{ card.question }}
            </a>
        </li>
        {% endfor %}
    </ul>
    <p>
        <button>
            <a href="{{ url_for('add_card') }}">Add a new card</a>
        </button>
    </p>
{% endblock %}